.board-cell-container {
  position: relative;
  text-transform: uppercase;

  width: 3.5rem;
  height: 3.5rem;

  margin: 4px 4px;
  white-space: pre-wrap;
  font-size: 2rem;
  font-weight: bold;

  white-space: pre-wrap;
  user-select: none;

  --animation-duration: 200ms;
}

.board-cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #e2e8f0;
}

.rotate--90deg {
  transform: rotateX(-90deg);
}

.board-cell--normal {
  background-color: white;
  color: black;
}

.board-cell--correct {
  background-color: var(--color-correct);
  color: white;
  border-color: var(--color-correct) !important;
}

.board-cell--present {
  background-color: var(--color-present);
  color: white;
  border-color: var(--color-present) !important;
}

.board-cell--abscent {
  background-color: var(--color-abscent);
  color: white;
  border-color: var(--color-abscent) !important;
}

@media screen and (max-width: 375px) {
  .board-cell {
    width: 3rem;
    height: 3rem;
    font-size: 1.75rem;
  }
}

.grow-animation {
  animation: grow 100ms linear 0s 1;
  border-color: black;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.show-animation {
  animation: rotate var(--animation-duration) linear 0s 1;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.half-rotate-from-0-animation {
  animation-name: half-rotate-from-0;
  animation-duration: var(--animation-duration);
  animation-fill-mode: forwards;
}

@keyframes half-rotate-from-0 {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(90deg);
  }
}

.half-rotate-from-90-animation {
  animation-name: half-rotate-from-90;
  animation-duration: var(--animation-duration);
  animation-delay: var(--animation-duration);
  animation-fill-mode: forwards;
}

@keyframes half-rotate-from-90 {
  from {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
