.board-cell {
  display: inline-flex;
  text-transform: uppercase;

  width: 3.5rem;
  height: 3.5rem;

  align-items: center;
  justify-content: center;

  padding: 8px;
  margin: 4px 4px;
  border: 2px solid #e2e8f0;
  white-space: pre-wrap;
  font-size: 2rem;
  font-weight: bold;

  user-select: none;
}

.board-cell--normal {
  background-color: white;
}

.board-cell--correct {
  background-color: var(--color-correct);
  color: white;
  border-color: var(--color-correct) !important;
}

.board-cell--present {
  background-color: var(--color-present);
  color: white;
  border-color: var(--color-present) !important;
}

.board-cell--abscent {
  background-color: var(--color-abscent);
  color: white;
  border-color: var(--color-abscent) !important;
}

@media screen and (max-width: 375px) {
  .board-cell {
    width: 3rem;
    height: 3rem;
    font-size: 1.75rem;
  }
}

.grow-animation {
  animation: grow 100ms linear 0s 1;
  border-color: black;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.show-animation {
  animation: rotate 500ms linear 0s 1;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.half-rotate-from-0-animation {
  animation: half-rotate-from-0 300ms linear 0s 1 normal forwards;
}

@keyframes half-rotate-from-0 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.half-rotate-from-90-animation {
  animation: half-rotate-from-90 300ms linear 300ms 1 normal forwards;;
}

@keyframes half-rotate-from-90 {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
