.board-cell {
  display: inline-flex;
  text-transform: uppercase;

  width: 3.5rem;
  height: 3.5rem;

  align-items: center;
  justify-content: center;

  padding: 8px;
  margin: 4px 4px;
  border: 2px solid #e2e8f0;
  white-space: pre-wrap;
  font-size: 2rem;
  font-weight: bold;

  user-select: none;
}

.board-cell--normal {
  background-color: white;
}

.board-cell--correct {
  background-color: var(--color-correct);
  color: white;
  border: 1px solid var(--color-correct);
}

.board-cell--present {
  background-color: var(--color-present);
  color: white;
  border: 1px solid var(--color-present);
}

.board-cell--abscent {
  background-color: var(--color-abscent);
  color: white;
  border: 1px solid var(--color-present);
}

@media screen and (max-width: 375px) {
  .board-cell {
    width: 3rem;
    height: 3rem;
    font-size: 1.75rem;
  }
}

.grow-animation {
  animation: grow 100ms linear 0s 1;
  border-color: black;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
