.keyboard-key {
  flex-grow: 1;
  line-height: 2rem;
  font-size: 14px;

  border: 1px solid whitesmoke;
  border-radius: 5px;
  height: 58px;
  min-width: 32px;
  width: auto;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  cursor: pointer;
  outline: none;
}

.keyboard-key:hover {
  opacity: 0.5;
}

.keyboard-key:active {
  opacity: 0.9;
}

.keyboard-key:focus {
  box-shadow: 0 0 1px 3px var(--color-key-normal);
}

.key-normal {
  background-color: var(--color-key-normal);
  color: black;
  transition: 500ms;
}
.key-correct {
  background-color: var(--color-correct);
  color: white;
  transition: 500ms;
}
.key-present {
  background-color: var(--color-present);
  color: white;
  transition: 500ms;
}
.key-abscent {
  background-color: var(--color-abscent);
  color: white;
  transition: 500ms;
}

@media screen and (max-width: 375px) {
  .keyboard-key {
    min-width: 20px;
    font-size: 12px;
  }
}
