*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  border-width: 0px;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* commons */

.container {
  padding: 0 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--app-max-width);
}

/* constants */

:root {
  --main-topbar-height: 55px;
  --app-max-width: 650px;

  --color-light-grey: #fefefe;

  --color-key-normal: #d3d6da;
  --color-key-normal-opacity: #d3d6daee;

  --color-correct: #6aaa64;
  --color-present: #c9b458;
  --color-abscent: #787c7e;
  --color-error: #bb3429;
}
